div{
    border-radius: 5px;
    }

#name{
	font-size: 26px;
	font-family: 'Times New Roman', Times, serif;
	color: #ffffff;
}

#email{
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	color: #ffffff;
}

#address{
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	color: #ffffff;
}

#contact{
	font-size: 16px;
	font-family: 'Times New Roman', Times, serif;
	color: #ffffff;
    }

a:hover {
    font-weight: bold;
}

.right
{
    float: left;
    padding-left:5px;
    height: auto;
    width: 99%;
    background-color: #54b5ff;
    }

#footer
{
    height:40px;
    clear:both;
    position: relative;
    background-color: #4c8eff;
    }
    
h3
{
    text-decoration: underline;
    }

#job-responsibilities
{
    padding: 1px;
    }
.job-title
{
    font-weight: bold;
    }
#company-name
{
    height:2px;
    text-decoration:underline;
    }
#job-title
{
    height: 5px;
    }
#heading
{
    font-weight:bold;
    }
